# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
GGJ2016/Library/assetDatabase3
GGJ2016/Library/AssetImportState
GGJ2016/Library/EditorUserBuildSettings.asset
GGJ2016/Library/metadata/
GGJ2016/Library/shadercompiler-UnityShaderCompiler.exe0.log
GGJ2016/ProjectSettings/ProjectSettings.asset
GGJ2016/Library/AssetServerCacheV3
GGJ2016/Library/ScriptMapper
GGJ2016/ProjectSettings/UnityAnalyticsManager.asset
